<html>
<head>
    <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="style.css" rel="stylesheet">


</head>
<body>
    <header>
        <div class="jumbotron-fluid bg-danger text-white">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white justify-content-center" id="navbar" >
                <a href="IPPackagesview.html" class="navbar-brand"><i class="material-icons">bloodtype</i>International Patient Treatment Management Service</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#truyumbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">
                    <div class="collapse navbar-collapse" id="truyumbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="/login" class="nav-link btn-danger">LOGIN</a></li>
                            <li class="nav-item"><a href="/signup" class="nav-link btn-danger">SIGN UP </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
         </div>


    </header>
</br>
<div class="container-fluid justify-content-center" id="heading">
    <div class="card justify-content-center">
        <h1 class="text-center">Get Fit  & Get Back to Healthy Life</h1>

    </div>

</div>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h4>Our International Treatment Packages</h4>
                        </div>
                        
                            <div class="container" name="treatment-packages">
                                    <div class="card" name="main-row-treatment-packages">
                                        <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6" name="treatment-package-name">
                                                        <label>Orthopedics</label>
                                                    </div>
                                                    <div class="col-md-6" name="treatment-package-cost">
                                                        <label>$25000</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6" name="treatment-package-test-detail">
                                                        <label>Test Detail</label>
                                                    </div>
                                                    <div class="col-md-6" name="treatment-package-treatment-duration">
                                                        <div class="card">
                                                            <label>Treatment Duration</label></br>
                                                            4 weeks
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h4>Our Specialists</h4>
                        </div>
                       
                        <div class="container" name="specialists">
                            <div class="card" name="main-row-specialist">
                                <div class="container">
                                        <div class="row">
                                            <div class="col-md-6" name="specialist--name">
                                                <label>UTSAV</label>
                                            </div>
                                            <div class="col-md-6" name="experience-cost">
                                                <label>5 years of Experience</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" name="area-of-experties">
                                                <div class="card">
                                                    <label>Area of Experties</label></br>
                                                    Orthopedics
                                                </div>
                                                
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   

            </div>
    </div>
</body>
</html>